@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body class="hold-transition Index-page">
     </body>
     <style>
.Index-page{
    background-image:url("https://media.istockphoto.com/photos/bookstore-shop-exterior-with-books-and-textbooks-in-showcase-picture-id1222563369?k=20&m=1222563369&s=612x612&w=0&h=kQs77JZl26jipbHmW2STOFh5FWbhDWex-aLB5sD9LSo=");
    background-repeat:no-repeat;
    background-size:cover;
}
     </style>